In [44]:
import pandas as pd
import numpy as np

In [45]:
# Load the data
pd_crime = pd.read_csv('croime.csv')
display(pd_crime)

,Country Name,Country Code,Series Name,Series Code,2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],...,2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
0,Afghanistan,AFG,People using at least basic sanitation service...,SH.STA.BASS.ZS,25.6662399387279,27.2391887360031,28.8122662344939,30.4665336124326,32.128704614959,33.7989577403427,...,42.2784026530125,44.0013086436901,45.7336021554717,47.4776157981306,49.2341444226923,51.0034810931108,52.6490009350063,54.298589737252,55.9519412878114,..
1,Afghanistan,AFG,"Cause of death, by non-communicable diseases (...",SH.DTH.NCOM.ZS,..,..,..,..,..,..,...,..,44.2190527205372,..,..,..,49.7810848710223,..,..,..,..
2,Afghanistan,AFG,Lifetime risk of maternal death (%),SH.MMR.RISK.ZS,8.01181076888072,7.94154155287414,7.19546998992883,7.06980966381942,6.34718876196331,5.73146081392652,...,4.45392359091823,4.40423184519823,4.26603578550222,3.65965934813299,3.56534676070181,3.46636972274314,3.13021000603877,..,..,..
3,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,57.944,58.361,58.684,59.111,59.852,60.364,...,62.545,62.659,63.136,63.016,63.081,63.565,62.575,61.982,62.879,..
4,Afghanistan,AFG,"Intentional homicides (per 100,000 people)",VC.IHR.PSRC.P5,..,..,..,..,..,4.0715263102304,...,..,9.97526212023234,6.69241862002357,6.80069468647332,6.74357283538399,7.18039716624779,6.59443908400367,4.02249785795131,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1080,Zimbabwe,ZWE,People using at least basic sanitation service...,SH.STA.BASS.ZS,44.8816899837811,44.2555894230867,43.631373965357,43.0093176557276,42.3891758166248,41.7711991394054,...,38.7170871077261,38.1206481520606,37.5291905738897,36.9416742711943,36.3571601293685,35.7743358079873,35.1923618234591,34.6099502088038,34.6178581154233,..
1081,Zimbabwe,ZWE,"Cause of death, by non-communicable diseases (...",SH.DTH.NCOM.ZS,..,..,..,..,..,..,...,..,36.9465489799274,..,..,..,39.2582275747306,..,..,..,..
1082,Zimbabwe,ZWE,Lifetime risk of maternal death (%),SH.MMR.RISK.ZS,1.73640275507946,1.89880257132832,2.0184066341597,2.3640769319808,2.72287261944531,2.71098103895393,...,1.83764032149259,1.71144321012538,1.68506606232169,1.43078838859094,1.4053010884883,1.54217604668384,1.40772939300129,..,..,..
1083,Zimbabwe,ZWE,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,44.502,44.768,45.364,45.61,46.723,48.063,...,58.846,59.591,60.306,60.709,61.414,61.292,61.124,59.253,59.391,..
1084,Zimbabwe,ZWE,"Intentional homicides (per 100,000 people)",VC.IHR.PSRC.P5,11.1505074693804,11.0431683586232,8.69389618741834,..,..,..,...,..,..,..,..,4.87636877146865,5.14503545596981,4.97777042599376,6.1399851589931,..,..

In [46]:
# find columns with the least missing values

# Count NaN values in each year column
pd_drop = pd_crime.drop(columns=['Country Name','Country Code','Series Name','Series Code'])
# change .. to NaN  
pd_drop = pd_drop.replace('..', np.nan)

df_list = pd_drop.isna().sum()

# Find the minimum NaN value and the corresponding year
min_nan_count = df_list.min()
year_with_min_nan = df_list.idxmin()
#print the result

print(f"Year with the least missing values: {year_with_min_nan} with {min_nan_count} missing values")

Year with the least missing values: 2010 [YR2010] with 136 missing values

/var/folders/n1/vr1f_0y52hj2hxn2mg_d76f80000gn/T/ipykernel_13475/962589768.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  pd_drop = pd_drop.replace('..', np.nan)

In [47]:
pd_crime = pd_crime[['Country Name','Series Name',year_with_min_nan]]
display(pd_crime)

,Country Name,Series Name,2010 [YR2010]
0,Afghanistan,People using at least basic sanitation service...,35.4774709901664
1,Afghanistan,"Cause of death, by non-communicable diseases (...",40.8191640676136
2,Afghanistan,Lifetime risk of maternal death (%),5.65298401811193
3,Afghanistan,"Life expectancy at birth, total (years)",60.851
4,Afghanistan,"Intentional homicides (per 100,000 people)",3.4870927196315
...,...,...,...
1080,Zimbabwe,People using at least basic sanitation service...,41.1551678278732
1081,Zimbabwe,"Cause of death, by non-communicable diseases (...",28.8780396569393
1082,Zimbabwe,Lifetime risk of maternal death (%),2.58137128693708
1083,Zimbabwe,"Life expectancy at birth, total (years)",50.652
1084,Zimbabwe,"Intentional homicides (per 100,000 people)",5.53748215359457

In [48]:
#pivot the series name with year as dat
pd_crime = pd_crime.pivot(index=['Country Name'], columns='Series Name', values=year_with_min_nan)
display(pd_crime)

Series Name,"Cause of death, by non-communicable diseases (% of total)","Intentional homicides (per 100,000 people)","Life expectancy at birth, total (years)",Lifetime risk of maternal death (%),People using at least basic sanitation services (% of population)
Country Name,,,,,
Afghanistan,40.8191640676136,3.4870927196315,60.851,5.65298401811193,35.4774709901664
Albania,90.5993497247237,4.08457542468858,77.936,0.0148078559448552,95.1721612127179
Algeria,74.8315188708989,0.708382325710373,73.808,0.345992463149718,86.9781332130706
American Samoa,..,9.11585338061423,..,..,62.2329962063021
Andorra,..,0,..,..,99.9999980744897
...,...,...,...,...,...
Virgin Islands (U.S.),..,52.7595108439637,77.8658536585366,..,99.0877566995471
West Bank and Gaza,..,0.976885878187842,73.004,0.209793067866526,93.8645690292441
"Yemen, Rep.",51.2738135655353,4.44149054563671,67.28,0.802280478416752,49.7545128865992
Zambia,28.8305322789141,5.90193514230062,56.799,1.54040756923213,28.4217753410918
Zimbabwe,28.8780396569393,5.53748215359457,50.652,2.58137128693708,41.1551678278732

In [49]:
#writing the result to a csv file
pd_crime.to_csv('crime_pivot.csv')

In [58]:
pd_child = pd.read_csv('chil.csv')
pd_child.rename(columns={'2010 [YR2010]':'Mortality rate, infant (per 1,000 live births)'}, inplace=True)
pd_child = pd_child[['Country Name','Mortality rate, infant (per 1,000 live births)']]
display(pd_child)

              Country Name Mortality rate, infant (per 1,000 live births)
0              Afghanistan                                           64.6
1                  Albania                                           11.9
2                  Algeria                                           23.9
3           American Samoa                                             ..
4                  Andorra                                            4.3
..                     ...                                            ...
212  Virgin Islands (U.S.)                                             ..
213     West Bank and Gaza                                           18.8
214            Yemen, Rep.                                             43
215                 Zambia                                           51.1
216               Zimbabwe                                           52.5

[217 rows x 2 columns]

In [59]:
#merge the two dataframes
pd_merge = pd.merge(pd_crime, pd_child, on='Country Name', how='inner')
display(pd_merge)

,Country Name,"Cause of death, by non-communicable diseases (% of total)","Intentional homicides (per 100,000 people)","Life expectancy at birth, total (years)",Lifetime risk of maternal death (%),People using at least basic sanitation services (% of population),"Mortality rate, infant (per 1,000 live births)"
0,Afghanistan,40.8191640676136,3.4870927196315,60.851000,5.65298401811193,35.4774709901664,64.6
1,Albania,90.5993497247237,4.08457542468858,77.936000,0.0148078559448552,95.1721612127179,11.9
2,Algeria,74.8315188708989,0.708382325710373,73.808000,0.345992463149718,86.9781332130706,23.9
3,American Samoa,NaN,9.11585338061423,NaN,NaN,62.2329962063021,..
4,Andorra,NaN,0,NaN,NaN,99.9999980744897,4.3
...,...,...,...,...,...,...,...
212,Virgin Islands (U.S.),NaN,52.7595108439637,77.865854,NaN,99.0877566995471,..
213,West Bank and Gaza,NaN,0.976885878187842,73.004000,0.209793067866526,93.8645690292441,18.8
214,"Yemen, Rep.",51.2738135655353,4.44149054563671,67.280000,0.802280478416752,49.7545128865992,43
215,Zambia,28.8305322789141,5.90193514230062,56.799000,1.54040756923213,28.4217753410918,51.1
216,Zimbabwe,28.8780396569393,5.53748215359457,50.652000,2.58137128693708,41.1551678278732,52.5

In [60]:
pd_merge.to_csv('crime_child_merge.csv')

In [62]:
pd_disease = pd.read_csv('disease.csv')
pd_disease.rename(columns={'2010 [YR2010]':'communicable diseases'}, inplace=True)
pd_disease = pd_disease[['Country Name','communicable diseases']]
display(pd_disease)

              Country Name communicable diseases
0              Afghanistan      48.1499135188659
1                  Albania      3.25913151879465
2                  Algeria      15.9925797286184
3           American Samoa                    ..
4                  Andorra                    ..
..                     ...                   ...
212  Virgin Islands (U.S.)                    ..
213     West Bank and Gaza                    ..
214            Yemen, Rep.      37.0203030126365
215                 Zambia      63.4188649098526
216               Zimbabwe      61.9820966392934

[217 rows x 2 columns]

In [63]:
#merge the two dataframes
pd_merge_disease = pd.merge(pd_merge, pd_disease, on='Country Name', how='inner')
display(pd_merge_disease)

,Country Name,"Cause of death, by non-communicable diseases (% of total)","Intentional homicides (per 100,000 people)","Life expectancy at birth, total (years)",Lifetime risk of maternal death (%),People using at least basic sanitation services (% of population),"Mortality rate, infant (per 1,000 live births)",communicable diseases
0,Afghanistan,40.8191640676136,3.4870927196315,60.851000,5.65298401811193,35.4774709901664,64.6,48.1499135188659
1,Albania,90.5993497247237,4.08457542468858,77.936000,0.0148078559448552,95.1721612127179,11.9,3.25913151879465
2,Algeria,74.8315188708989,0.708382325710373,73.808000,0.345992463149718,86.9781332130706,23.9,15.9925797286184
3,American Samoa,NaN,9.11585338061423,NaN,NaN,62.2329962063021,..,..
4,Andorra,NaN,0,NaN,NaN,99.9999980744897,4.3,..
...,...,...,...,...,...,...,...,...
212,Virgin Islands (U.S.),NaN,52.7595108439637,77.865854,NaN,99.0877566995471,..,..
213,West Bank and Gaza,NaN,0.976885878187842,73.004000,0.209793067866526,93.8645690292441,18.8,..
214,"Yemen, Rep.",51.2738135655353,4.44149054563671,67.280000,0.802280478416752,49.7545128865992,43,37.0203030126365
215,Zambia,28.8305322789141,5.90193514230062,56.799000,1.54040756923213,28.4217753410918,51.1,63.4188649098526
216,Zimbabwe,28.8780396569393,5.53748215359457,50.652000,2.58137128693708,41.1551678278732,52.5,61.9820966392934

In [64]:
pd_merge_disease.to_csv('crime_child_disease_merge.csv')

In [66]:
df = pd.read_csv('all_vaccine_data.csv')
df = df.drop(columns=['DOSES', 'TARGET_NUMBER'])
df = df.dropna()
df = df[['YEAR','ANTIGEN_DESCRIPTION','COVERAGE','Country Name','continent','Life Expectancy','GDP per Capita','Child Mortality per 1000 ']]
#pivot the antigen_description column to get the antigens as columns with the coverage as the values
df = df.pivot_table(index=['YEAR','Country Name','continent','Life Expectancy','GDP per Capita','Child Mortality per 1000 '], columns='ANTIGEN_DESCRIPTION', values='COVERAGE')
df = df.reset_index()
display(df)
df.to_csv('vaccine_pivot.csv')

ANTIGEN_DESCRIPTION,YEAR,Country Name,continent,Life Expectancy,GDP per Capita,Child Mortality per 1000,"DTP-containing vaccine, 1st dose","DTP-containing vaccine, 3rd dose","Measles-containing vaccine, 1st dose","Measles-containing vaccine, 2nd dose","Polio, 3rd dose"
0,1980,Afghanistan,Asia,39.618000,291.649791,164.0,22.000000,4.000000,11.000000,NaN,3.000000
1,1980,Antigua and Barbuda,North America,73.183000,2025.474682,12.5,77.000000,54.000000,NaN,NaN,36.000000
2,1980,Australia,Oceania,74.333659,10208.652009,10.8,58.000000,33.000000,NaN,NaN,17.000000
3,1980,Austria,Europe,72.463415,10869.546494,13.9,96.000000,90.000000,NaN,NaN,90.000000
4,1980,Bahrain,Asia,70.826000,8474.188360,27.0,89.000000,69.666667,57.000000,NaN,80.000000
...,...,...,...,...,...,...,...,...,...,...,...
6395,2022,Uzbekistan,Asia,71.674000,2255.151155,11.9,99.140000,99.126667,99.380000,99.386667,99.340000
6396,2022,Vanuatu,Oceania,70.492000,3231.351300,15.6,83.000000,68.000000,70.000000,NaN,68.000000
6397,2022,Viet Nam,Asia,74.580000,4163.514299,16.2,91.986667,90.746667,87.820000,80.826667,70.213333
6398,2022,Zambia,Africa,61.803000,1456.901570,39.0,86.336667,81.860000,96.606667,67.266667,83.876667
6399,2022,Zimbabwe,Africa,59.391000,1676.821489,34.6,95.856667,92.410000,91.246667,78.316667,91.096667